<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CampusLearn</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CampusLearn.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="/Media/common/CampusLearnLogo.png" alt="CampusLearn Logo" style="height:50px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark @(ViewContext.RouteData.Values["Page"]?.ToString() == "/Index" ? "active" : "")" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark @(ViewContext.RouteData.Values["Page"]?.ToString() == "/Student/Dashboard" ? "active" : "")" asp-area="" asp-page="/Student/Dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark @(ViewContext.RouteData.Values["Page"]?.ToString() == "/" ? "active" : "")" asp-area="" asp-page="/">Forum</a>
                        </li>
                    </ul>

                    @{
                        // just for testing inside the layout
                        // Context.Session.SetString("role", null);
                        //Context.Session.SetString("name", "Kele");
                        // Testing as a student
                        Context.Session.SetString("personnelNumber", "ST12345678");
                        Context.Session.SetString("name", "John Student");
                        Context.Session.SetString("email", "john.student@belgiumcampus.ac.za");
                        Context.Session.SetString("role", "Student"); 
                    }


                    @* signing in and register buttons + drop down depending on role *@
                    <ul class="navbar-nav">
                        @* display buttons for user who has a role of null/user who has not signed in *@
                        @if (Context.Session.GetString("role") == null)
                        {
                            <li class="nav-item">
                                <a class="btn btn-primary me-3" href="/Authentication/SignUp">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary" href="/Authentication/LogIn">Log In</a>
                            </li>
                        }

                        @* drop down for students *@
                        @* test for students *@


                        else if (Context.Session.GetString("role") == "student")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @Context.Session.GetString("name")
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Bookmarks</a></li>
                                    <li><a class="dropdown-item" href="#">Notifications</a></li>
                                    <li><a class="dropdown-item" href="#">Chats</a></li>
                                    <li><a class="dropdown-item" href="#">Manage Account</a></li>
                                    <li><a class="dropdown-item" href="#">Log out</a></li>
                                </ul>
                            </li>
                        }

                        else if (Context.Session.GetString("role") == "tutor")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @Context.Session.GetString("name") (Tutor)
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Bookmarks</a></li>
                                    <li><a class="dropdown-item" href="#">Notifications</a></li>
                                    <li><a class="dropdown-item" href="#">Tutor Dashboard</a></li>
                                    <li><a class="dropdown-item" href="#">Create Resource</a></li>
                                    <li><a class="dropdown-item" href="#">Chats</a></li>
                                    <li><a class="dropdown-item" href="#">Manage Account</a></li>
                                    <li><a class="dropdown-item" href="#">Log out</a></li>
                                </ul>
                            </li>
                        }

                        else if (Context.Session.GetString("role") == "admin")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @Context.Session.GetString("name") (Admin)
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Bookmarks</a></li>
                                    <li><a class="dropdown-item" href="#">Admin Dashboard</a></li>
                                    <li><a class="dropdown-item" href="#">Create Post</a></li>
                                    <li><a class="dropdown-item" href="#">Chats</a></li>
                                    <li><a class="dropdown-item" href="#">Manage Account</a></li>
                                    <li><a class="dropdown-item" href="#">Log out</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            <div class="contact-details">
                <div class="campus-situated">
                    <h5 class="mb-4">Vist Us</h5>
                    <div class="location">
                        <p><i class="bi bi-geo-alt-fill" style="font-size:15px;margin-right:15px"></i> Pretoria Campus</p>
                        <p><i class="bi bi-geo-alt-fill" style="font-size:15px;margin-right:15px"></i> Kempton Park Campus</p>
                        <p><i class="bi bi-geo-alt-fill" style="font-size:15px;margin-right:15px"></i> Stellenboch Campus</p>
                    </div>
                </div>
                <div class="contacts">
                    <h5 class="mb-4">Get In Touch</h5>
                    <div>
                        <p><i class="bi bi-telephone-fill" style="font-size:15px;margin-right:15px"></i> 010 593 5363</p>
                        <p><i class="bi bi-envelope-fill" style="font-size:15px;margin-right:15px"></i> info@belgiumcampus.ac.za</p>
                    </div>
                </div>
                <div class="bc-logo mb-5">
                    <div class="logo-box">
                        <img src="/Media/common/footer-logo.png" alt="Belgium Campus Logo" />
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
